.presentation{
	background-color: #fff;
	text-align: justify;
	padding: 30 15;
	margin-top: 100px;
	margin-bottom: 20px;
	border: 4px solid #ddd;
}

.presentation h2{
	text-align: center;
}

.photo{
	position: absolute;
	top: 0;
	width: 93%;
	text-align: center;
	padding: 0 15;
}

.photo img{
	min-width: 150px;
	width: 30%;
}

.presentation, .photo img{
	border: 4px solid #ddd;
}

@media screen and (max-width: 1000px){
	.presentation{
		padding-top: 55px;
		margin-top: 130px;
	}

	.photo{
		top: -120;
	}
}