.presentation{
	background-color: #fff;
	text-align: justify;
	padding: 30 15;
	margin-top: 180px;
	margin-bottom: 20px;
	border: 4px solid #ddd;
}

.presentation h2{
	text-align: center;
}

.photo{
	position: absolute;
	top: 0;
	left: 30%;
	width: 40%;
}

.photo img{
	width: 100%;
}

.presentation, .photo img{
	border: 4px solid #ddd;
}

@media screen and (max-width: 1000px){
	.presentation{
		padding-top: 55px;
	}

	.photo{
		top: -100px;
		left: 37%;
		width: 150px;
	}
}