.home > *{
	margin-bottom: 20px;
}

.article{
	margin: 0;
}

.article p{
	background-color: #fff;
	padding: 10px;
}

.article a{
	color: #5522ff;
	text-decoration: none;
}

.main_image{
	height: 250px;
    -moz-box-align: end;
    align-items: flex-end;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    min-height: 12rem;
    position: relative;
    width: 100%;
    -moz-transition: background-size 0.8s linear;
	-ms-transition: background-size 0.8s linear;
	-o-transition: background-size 0.8s linear;
	-webkit-transition: background-size 0.8s linear;
    transition: background-size 0.8s linear;
}

.main_image:hover{
	background-size: 105%;
}

.main_image h1{
	text-align: center;
	color: #2BDAFF;
	width: 100%;
	background: #4A4A4AE0;
	padding: 10 0;
	margin: 0;
	-moz-transition: background 1s ease;
	-ms-transition: background 1s ease;
	-o-transition: background 1s ease;
	-webkit-transition: background 1s ease;
    transition: background 1s ease;
}

.main_image:hover h1{
	background: #4A4A4AFF;	
}

.article_body{
	background-color: #fff;
	height: 100px;
	overflow: hidden;
}

@media screen and (min-width: 1200px) {
	.container {
	    width: 90%;
	}
}

@media screen and (max-width: 1000px) {
	.articles, .article {
	    padding: 0;
	}

	.container{
		width: 100%;
	}
	.article_body{
		height: auto;
	}

	.main_image h1{
		font-size: 25;	
	}

}