#pres_boutique{
	text-align: center;
	font-style: italic;
}

.col-lg-4{
	height: 200;
	float: none;
	width: 100%;
	margin: auto;
	margin-bottom: 20;
}

.img-circle{
	height: 95%;
	width: auto;
}

.bout_desc{
	float: right;
	width: 80%;
	min-width: 300;
	margin-top: 10;
}

.bout_prix{
	float: right;
}

.bout_texte{
	padding-top: 20;
}

@media screen and (max-width: 1200px){
	.img-circle{
		height: auto;
		max-width: 200;
	}

	#bout_prix{
		text-align: center;
	}

	.bout_desc{
		width: 70%;
	}
}

@media screen and (max-width: 800px){
	.bout_desc{
		width: 100%;
	}

	.img-circle{
		margin-bottom: 200;
	}

	#pres_boutique{
		margin-bottom: 200;
	}

	.col-lg-4{
		margin-bottom: 200;
	}
}