@font-face {
	font-family: 'Eras Light ITC';
	font-style: normal;
	font-weight: normal;
	src: local('Eras Light ITC'), url('../fonts/ERASLGHT.woff') format('woff');
}

body{
	background: url('../img/pattern-noise.png');
	height: auto;
	margin: 0;
    padding: 0;
}

nav{
	padding: 5 0;
	margin-top: 180;
}

nav li a{
	font-size: 20;
}

nav li{
	margin: 0 15;
}

nav, #title, #subtitle{
	font-family: "Eras Light ITC",  sans-serif;
}

#title{
	font-size: 95;
	margin: 10 0 0 120;
	height: 115;
	color: #dc0000;
	width: 500;
}

#subtitle{
	font-size: 20;
	margin-left: 120;
	text-transform: uppercase;
	color: #dc0000;
	width: 400;
}

.navbar-inverse{
	background-color: #c52c2e;
	border-bottom: 1px solid red;
	z-index: 9999;
	position: absolute;
}

.dropdown{
	height: 110%;
}

.dropdown-menu{
	background-color: black;
	width: 200px;
	top: 100%;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    visibility: hidden;
  	opacity: 0;
  	z-index: 1;
}

.navbar-nav > li:hover > .dropdown-menu{
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.dropdown-menu li img{
	width: 20px;
	float: left;
	margin-right: 8px;
}

.navbar-inverse .navbar-nav li > a{
	color: #EEE;
}

.navbar-inverse .navbar-nav li > a:hover{
	text-decoration: underline;
}

.navbar-inverse .navbar-nav > a, .navbar-inverse .navbar-nav > a:hover{
	background-color: #FFF;
}

.navbar .container{
	width: 90%;
}

.navbar-header{
	border: none;
}

.navbar-inverse .navbar-toggle{
	color: inherit;
	border-color: white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: inherit;
}

.navbar-collapse{
	border: none;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
	margin-left: 0;
}

#page{
	max-width: 400;
}

#zone_appareils{
	float: right;
	bottom: 150;
	margin-right: 50;
	position: relative;
}

#iphone{
	position: relative;
	height: 250;
	left: 250;
	-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
    z-index: 3;
}

#xbox{
	height: 280;
	left: 100;
	position: relative;
	z-index: 4;
}

#wemo{
	position: relative;
	height: 250;
	right: 20;
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
    z-index: 2;
}

.pub img{
	width: 400;
}

.titre_pub{
	background-color: rgba(0,0,0,0.6);
	position: relative;
	width: 100%;
	height: 60;
	bottom: 60;
	color: white;
	text-align: center;
}

#abonnements{

}

.title{
	color: #c00318;
	padding-right: 20; 
	font-size: 20px;
	text-transform: uppercase;
}

@media screen and (max-width: 1350px){
	#zone_appareils{
		margin-right: 0;
	}
}

@media screen and (max-width: 1300px){
	#zone_appareils{
		visibility: hidden;
	}

	nav li{
		margin: 0 5 0 5;
	}
}

@media screen and (max-width: 1000px){
	.navbar-nav{
		float: none;
		margin-left: 0;
	}

	nav li{
		margin: 0 18 0 18;
	}

	#titre, #subtitle{
		margin-left: 50;
	}
}

@media screen and (max-width: 800px){
	.navbar-nav{
		margin-left: 0;
	}

	.navbar-nav li a > img{
		float: left;
		margin-right: 40;
	}

	.navbar-nav li{
		padding: 20 0 20 0;
	} 

	.navbar-nav a{
		height: 20;
	}

	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
	    background-color: inherit;
	}
}