@font-face {
	font-family: 'Eras Light ITC';
	font-style: normal;
	font-weight: normal;
	src: local('Eras Light ITC'), url('../fonts/ERASLGHT.woff') format('woff');
}

body{
	background-color: #e8e8e8;
	margin: 0;
    padding: 0;
    font-family: "Roboto Slab", sans-serif;
}

a{
	color: #eee;
}

a:focus{
	color: inherit;
	outline: 0;
}

/* ======================= NAVBAR ======================= */

.navbar-inverse, .head, .footer{
	background-color: #C93030;
}

.navbar-inverse{
	border: none;
	border-radius: 0;
	z-index: 9999;
}

nav li a{
	font-size: 20;
}

nav li{
	margin: 0 15;
}

nav, #title{
	font-family: "Eras Light ITC",  sans-serif;
}

.navbar-inverse .navbar-nav li > a{
	color: #EEE;
}

.navbar-inverse .navbar-nav li > a:hover{
	text-decoration: underline;
}

.navbar-inverse .navbar-nav > a, .navbar-inverse .navbar-nav > a:hover{
	background-color: #FFF;
}

.navbar-header{
	border: none;
}

.navbar-header > .navbar-brand{
	color: #EEE;
	font-size: 25;
	font-weight: bold;
	display: inline;
}

.navbar-inverse .navbar-toggle{
	color: inherit;
	border-color: white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: inherit;
}

.navbar-collapse{
	border: none;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
	margin-left: 0;
}

/* ========================== HEADER ========================== */

.row{
	width: 100%;
	margin: 0;
}

.head{
	height: 400px;
	-moz-box-align: end;
    align-items: flex-end;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 12rem;
    position: relative;
    width: 100%;
    line-height: 400px;
}

#title{
	font-size: 95;
	margin: 0 0 0 120;
	color: #FFF;
	vertical-align: middle;
	display: inline-block;
}

/* ========================= PAGINATION ========================= */

.nav-previous a, .nav-next a{
	color: #333;
}

.alignleft{
	float: left;
}

.alignright{
	float: right;
}

/* ========================== SIDEBAR =========================== */

.twitter{
	background-color: white;
	max-height: 500px;
	overflow: scroll;
	overflow-x: hidden; 
}

/* ========================== FOOTER ============================ */

.footer{
	color: #FFF;
	padding: 10 0;
	text-align: justify;
}

ul{
	padding: 0;
	list-style: outside none none;
}

.footer .social_icons .fa{
	margin: 10 10 0 0;
	width: 65px;
	padding: 18 0;
	border: 1px solid #eee;
	border-radius: 50%;
	text-align: center;
	transition: all ease 0.6s;
}

.footer .social_icons .fa:hover{
	background-color: #fff;
	color: #C93030;
}

.social_icons a:focus, .social_icons a:hover{
	color: #fff;
}

.copyright{
	text-align: center;
}

/* ============================================================== */
/* ======================== MEDIA QUERIES ======================= */
/* ============================================================== */

@media screen and (min-width: 1200px) {
	.container {
	    width: 1200px;
	}
}

@media screen and (min-width: 1600px) {
	.container {
	    width: 1600px;
	}
}

@media screen and (max-width: 1000px){
	/* ========================= NAVBAR ========================= */

	.navbar-nav{
		float: none;
		margin-left: 0;
	}

	nav li{
		margin: 0 18 0 18;
	}

	/* ========================= HEADER ========================== */

	#title{
		margin-left: 50;
	}

	/* ========================= SIDEBAR ========================== */

	.sidebar{
		padding: 0;
	}

	.twitter{
		overflow: hidden;
	}
}

@media screen and (max-width: 800px){

	/* ======================== HEADER ============================ */

	.row{
		width: auto;
	}

	.head{
		height: 200px;
		line-height: 200px;
	}

	#title{
		width: 100%;
		max-width: none;
		margin-left: 0;
		padding: 20 0 0 0;
		text-align: center;
		font-size: 70;
	}

	#title img{
		height: 100px;
	}

	/* =========================== NAVBAR ======================== */

	.navbar-nav li{
		padding: 20 0;
	} 

	.navbar-nav a{
		height: 20;
	}

	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
	    background-color: inherit;
	}
}