@font-face {
	font-family: 'Eras Light ITC';
	font-style: normal;
	font-weight: normal;
	src: local('Eras Light ITC'), url('../fonts/ERASLGHT.woff') format('woff');
}

body{
	background-color: #e8e8e8;
	margin: 0;
    padding: 0;
    font-family: "Roboto Slab", sans-serif;
}

a{
	color: #eee;
}

a:focus{
	color: inherit;
	outline: 0;
}

/* ======================= NAVBAR ======================= */

.navbar-inverse, .head, .footer, #slide-nav.navbar-inverse #navbar-height-col, #slide-nav.navbar-inverse #slidemenu{
	background-color: #C93030;
}

.navbar-inverse{
	border: none;
	border-radius: 0;
	z-index: 9999;
}

nav li a{
	font-size: 20;
}

nav li{
	margin: 0 15;
}

nav, #title{
	font-family: "Eras Light ITC",  sans-serif;
}

.navbar-inverse .navbar-nav li > a{
	color: #EEE;
}

.navbar-inverse .navbar-nav li > a:hover{
	text-decoration: underline;
}

.navbar-inverse .navbar-nav > a, .navbar-inverse .navbar-nav > a:hover{
	background-color: #FFF;
}

.navbar-header{
	border: none;
}

.navbar-header > .navbar-brand{
	color: #EEE;
	font-size: 25;
	font-weight: bold;
	display: inline;
}

.navbar-inverse .navbar-toggle{
	color: inherit;
	border-color: white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: inherit;
}

.navbar-collapse{
	border: none;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
	margin-left: 0;
}

/*===================== MOBILE SIDEBAR FOR NAVBAR =====================*/

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    left: 0;
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}

.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}

/* ========================== HEADER ========================== */

.row{
	width: 100%;
	margin: 0;
}

.head{
	height: 400px;
	-moz-box-align: end;
    align-items: flex-end;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 12rem;
    position: relative;
    width: 100%;
    line-height: 400px;
}

#title{
	font-size: 95;
	margin: 0 0 0 120;
	color: #FFF;
	vertical-align: middle;
	display: inline-block;
}

/* ========================= PAGINATION ========================= */

.nav-previous a, .nav-next a{
	color: #333;
}

.alignleft{
	float: left;
}

.alignright{
	float: right;
}

/* ========================== SIDEBAR =========================== */

.twitter .fa-twitter{
	color: #AAA;
}

.twitter{
	text-align: center;
	padding: 0;
}

.timeline-header{
    display: none;
}

/* ========================== FOOTER ============================ */

.footer{
	color: #FFF;
	padding: 10 0;
	text-align: justify;
}

ul{
	padding: 0;
	list-style: outside none none;
}

.footer .social_icons .fa{
	margin: 10 10 0 0;
	width: 65px;
	padding: 18 0;
	border: 1px solid #eee;
	border-radius: 50%;
	text-align: center;
	transition: all ease 0.6s;
}

.footer .social_icons .fa:hover{
	background-color: #fff;
	color: #C93030;
}

.social_icons a:focus, .social_icons a:hover{
	color: #fff;
}

.copyright{
	text-align: center;
}

/* ============================================================== */
/* ======================== MEDIA QUERIES ======================= */
/* ============================================================== */

@media screen and (min-width: 1200px) {
	.container {
	    width: 1200px;
	}
}

@media screen and (min-width: 1600px) {
	.container {
	    width: 1600px;
	}
}

@media screen and (max-width: 1000px){
	/* ========================= NAVBAR ========================= */

	.navbar-nav{
		float: none;
		margin-left: 0;
	}

	nav li{
		margin: 0 18 0 18;
	}

	/* ========================= HEADER ========================== */

	#title{
		margin-left: 50;
	}

	/* ========================= SIDEBAR ========================== */

	.sidebar{
		padding: 0;
	}

	.twitter{
		overflow: hidden;
	}
}

@media screen and (max-width: 800px){

	/* ======================== HEADER ============================ */

	.row{
		width: auto;
	}

	.head{
		height: 200px;
		line-height: 200px;
	}

	#title{
		width: 100%;
		max-width: none;
		margin-left: 0;
		padding: 20 0 0 0;
		text-align: center;
		font-size: 70;
	}

	#title img{
		height: 100px;
	}

	/* =========================== NAVBAR ======================== */

	.navbar-nav li{
		padding: 20 0;
	} 

	.navbar-nav a{
		height: 20;
	}

	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
	    background-color: inherit;
	}
}

/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
    #slide-nav .container {
        margin: 0;
        padding: 0!important;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 60%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: -8px;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }
    #slide-nav {
        border-top: 0
    }
    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #slide-nav #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 60%;
        left: -80%;
        background: #eee;
    }
    #slide-nav.navbar-inverse #navbar-height-col {
        z-index: 1;
        border: 0;
    }
    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }
    #slide-nav .navbar-form .form-control {
        text-align: center
    }
    #slide-nav .navbar-form .btn {
        width: 100%
    }

    #page-content {
    	padding: 0;
    }
}

@media (min-width:768px) { 
    #page-content {
        left: 0!important
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }
    .navbar-header {
        left: 0!important
    }
}